<!DOCTYPE html>
<html>
<head>
    <title>
        {% block title %} TITLE GOES HERE {% endblock %}
    </title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.2.1/Chart.js"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src = "https://d3js.org/d3.v4.min.js"></script>
</head>
<body>
    <nav>
      {% if not session["username"] %}
        <a href="/register">Register</a>
        <a href="/login">Log In</a>
      {% else %}
        <a href="/logout">Log Out</a>
        <a href="/new">Add New</a>
        <a href="/track">Track</a>
        <a href="/charts">Charts</a>
      {% endif %}
    </nav>
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        <ul class=flashes>
        {% for message in messages %}
          <li>{{ message }}</li>
        {% endfor %}
        </ul>
      {% endif %}
    {% endwith %}
    
    {% block body %} BODY GOES HERE {% endblock %}
</body>
</html>