{% extends "base.html" %}

{% block title %}Tracking{% endblock %}

{% block body %}

<form id="chart-params" action="/line1-data", method="POST">
    <label>
        Start date: <input type="date" name="start-date" id="start-date">
    </label>
    <br>
    <label>
        End date: <input type="date" name="end-date" id="end-date">
    </label>
    <br>
    <input type="submit" id="update-chart">
</form>

<div class="line-chart">
    <canvas id="line1" width="400" height="300"></canvas>
    <div id="line1-legend" class="chart-legend"></div>
</div>
<div id="bubble-chart"></div>



<script type="text/javascript">

let line1_canvas = $("#line1").get(0).getContext("2d");

window.onload = function () {
    $.post("/line1-data", function (response) {
        let data = $.parseJSON(response);
        let labels = data.labels;
        let datasets = data.datasets;

        let line_chart = new Chart(line1_canvas, {
            type: 'line',
            data: {
                labels: labels,
                datasets: datasets
            },

        });
    });
}

$("#update-chart").on('click', function (event) {
    event.preventDefault();

    let dates = {
        startDate: $("#start-date").val(),
        endDate: $("#end-date").val()
    };

    $.post("/line1-data", dates, function (response) {
        let data = $.parseJSON(response);
        let labels = data.labels;
        let datasets = data.datasets;

        let line_chart = new Chart(line1_canvas, {
            type: 'line',
            data: {
                labels: labels,
                datasets: datasets
            },

        });
    });
    }
);

// //////////////////////////////////////////



// var bubbleChart = function () {
//     var width = 600,
//         height = 400;

//     function chart(selection){        
//     // you gonna get here
//     }

//     chart.width = function(value) {
//         if (!arguments.length) {
//             return width;
//         }

//         width = value;
//         return chart;
//     }

//     chart.height = function(value) {
//         if (!arguments.length) {
//             return height;
//         }
//             height = value;
//             return chart;
//     }

//     return chart;
// }

// d

// var chart = bubbleChart().width(300).height(200);
(function () {

    var width = 500,
        height = 500;

    var svg = d3.select("#bubble-chart")
        .append("svg")
        .attr("class", "chart")
        .attr("height", height)
        .attr("width", width)
        .append("g")
        .attr("transform", "translate(0,0)")

    

    d3.queue()
        .defer(d3.json, "/bubble-chart-data")
        .await(ready)

    

    function ready (error, datapoints) {
        
        let minData = d3.min(datapoints, (d) => d.units );
        let maxData = d3.max(datapoints, (d) => d.units );
        let sizeScale = d3.scaleLinear()
                  .domain([minData, maxData])
                  .range([50, 100]);

        var simulation = d3.forceSimulation()
            .force("x", d3.forceX(width / 2).strength(0.05))
            .force("y", d3.forceY(height / 2).strength(0.05))
            .force("collide", d3.forceCollide(function (d) {
                return sizeScale(d.units) + 2;
            }));

        var circles = svg.selectAll("circle")
            .data(datapoints)
            .enter()
            .append("circle")
            .attr("r", (d) => sizeScale(d.units))
            .attr("fill", function (d) {
                return d.fill;
            });
        
        simulation.nodes(datapoints)
            .on("tick", moveCircles)

        function moveCircles () {
            circles
                .attr("cx", function (d) {
                    return d.x;
                })
                .attr("cy", function (d) {
                    return d.y
                });
        }
    }

})();
// var chartData = d3.json(, function (d) {
//     return d;
// });

// var circles = d3.select("#bubble-chart").selectAll("circle");

// circles.data(chartData)
//     .enter()
//   .append("circle")
//   .attr("r", function (d) {
//       return d.units;
//     });



</script>












{% endblock %}