{% extends "base.html" %}

{% block title %}Tracking{% endblock %}

{% block body %}

<form id="chart-params" action="/line1-data", method="POST">
    <label>
        Start date: <input type="date" name="start-date" id="start-date">
    </label>
    <br>
    <label>
        End date: <input type="date" name="end-date" id="end-date">
    </label>
    <br>
    <input type="submit" id="update-chart">
</form>

<div class="line-chart">
    <canvas id="line1" width="400" height="300"></canvas>
    <div id="line1-legend" class="chart-legend"></div>
</div>



<script type="text/javascript">

let line1_canvas = $("#line1").get(0).getContext("2d");

window.onload = function () {
    $.post("/line1-data", function (response) {
        let data = $.parseJSON(response);
        let labels = data.labels;
        let datasets = data.datasets;

        let line_chart = new Chart(line1_canvas, {
            type: 'line',
            data: {
                labels: labels,
                datasets: datasets
            },

        });
    });
}

$("#update-chart").on('click', function (event) {
    event.preventDefault();

    let dates = {
        startDate: $("#start-date").val(),
        endDate: $("#end-date").val()
    };

    $.post("/line1-data", dates, function (response) {
        let data = $.parseJSON(response);
        let labels = data.labels;
        let datasets = data.datasets;

        let line_chart = new Chart(line1_canvas, {
            type: 'line',
            data: {
                labels: labels,
                datasets: datasets
            },

        });
    });
    }
);

</script>
{% endblock %}