{% extends "base.html" %}

{% block title %}Log In{% endblock %}

{% block body %}


<h2>Please log in to access your tracker.</h2>
<form action="/login" method="POST" id="login-form">
    <label>
        Username: <input type="username" name="username" id="username" required><br>
    </label>
    <br>
    <label>
        Password: <input type="password" name="password" id="password" required><br>
    </label>
    <br>
    <input type="submit" value="Log In">
</form>

<br>
Don't have an account yet? <a href="/register">Register here.</a>



<script>
    
function validateLogin(event) {
    event.preventDefault();

    const loginInputs = { 
        'username': $("#username").val(),
        'password': $("#password").val()
    };

    $.post("/login", loginInputs, function (response) {
        if (response == "Incorrect username or password.") {
            alert(response);
        } else {
            window.location.replace("/track");
        } 
    });
}
    
$('#login-form input[type="submit"]').on('click', validateLogin);

</script>
{% endblock %}