{% extends "base.html" %}

{% block title %}Add Something New{% endblock %}

{% block body %}
<h3>New Habit, Influence, or Symptom</h3>
<form action="/new" method="POST" id="new-form">
    <label>
        Type: <select id="event-type">
                <option name="event-type" value="habit">Habit</option>
                <option name="event-type" value="influence">Influence</option>
                <option name="event-type" value="symptom">Symptom</option>
        </select>
    </label>
    <br>
    <label>
        Title: <input type="text" name="label" id="label">
    </label>
    <br>
    <div id="unit-or-scale">
        <label>
            Unit of measurement: <input type="text" name="unit" id="unit">
        </label>
    </div>
    <br>
    <input type="submit">
</form>
<br>
<h3>Habits Tracked:</h3>
<table id="habit-list"></table>
<br>
<h3>Influences Tracked:</h3>
<table id="influence-list"></table>
<br>
<h3>Symptoms Tracked:</h3>
<table id="symptom-list"></table>


<script>

let eventInput = $("#event-type");

// show lists of event types when page loads
function showEventTypes() {

    const habitTableTop = "<tr><th>Title</th><th>Unit</th></tr>";
    const inflSympTableTop = "<tr><th>Title</th><th>Scale</th></tr>";

    let habitList = "";
    let influenceList = "";
    let symptomList = "";

    $.get("/user-event-types", function (response) {
        data = $.parseJSON(response)

        for (let habit of data.habits) {
            habitList += `<tr><td>${ habit.label }</td>
                          <td>${ habit.unit }</td></tr>`;
        }

        for (let influence of data.influences) {
            influenceList += `<tr><td>${ influence.label }</td>
                              <td>${ influence.scale }</td></tr>`;
        }

        for (let symptom of data.symptoms) {
            symptomList += `<tr><td>${ symptom.label }</td>
                            <td>${ symptom.scale }</td></tr>`;
        }

        if (habitList) {
            $("#habit-list").html(`${habitTableTop} + ${habitList}`);
        } else {
            $("#habit-list").html("Use the above form to add some habits.");
        } 

        if (influenceList) {
            $("#influence-list").html(`${inflSympTableTop} + ${influenceList}`);
        } else {
            $("#influence-list").html("Use the above form to add some influences.");
        } 
        
        if (symptomList) {
            $("#symptom-list").html(`${inflSympTableTop} + ${symptomList}`);
        } else {
            $("#symptom-list").html("Use the above form to add some symptoms.");
        }
    });
}

$(window).on("load", showEventTypes);


// change input form based on event type selected
eventInput.on("change", function() {

    if (eventInput.val() == "influence" || eventInput.val() == "symptom") {
        $("#unit-or-scale").html(`<label> Intensity scale: 0 to 
            <input type="number" name="unit" id="unit" required></label>`);
    } else if (eventInput.val() == "habit") {
        $("#unit-or-scale").html(`<label> Unit of measurement: 
            <input type="text" name="unit" id="unit" required></label>`);
    }
  
});


// when form is submitted, add type to db, reset form & refresh lists
function addEventType(event) {
    event.preventDefault();

    formData = {
        eventType: eventInput.val(),
        label: $("#label").val(),
        unit: $("#unit").val()
    };

    getEventData = $.post("/new", formData, function (response) {
        alert(response);
        if (response.includes("added successfully")) {

            $("#new-form")[0].reset();

            $("#unit-or-scale").html(`<label>Unit of measurement: 
            <input type="text" name="unit" id="unit" required></label>`);

            showEventTypes();
        }
    });
}

$("#new-form input[type='submit']").on("click", addEventType);

</script>
{% endblock %}
