{% extends "base.html" %}

{% block title %}Register{% endblock %}

{% block body %}



<h2>Create an account to start tracking!</h2>
<form action="/register" method="POST" id="register-form">
    <label>
        Email: <input type="email" name="email" id="email" required><br>
    </label>
    <label>
        Pick a username: <input type="username" name="username" id="username" required><br>
    </label>
    <label>
        Password: <input type="password" name="password" id="password" required><br>
    </label>
    <label>
        Confirm password: <input type="password" name="confirm-password" id="confirm-password" required><br>
    </label>
    <input type="submit" value="Register" id="register">
</form>

<script>

function validateRegistration(event) {
    event.preventDefault();

    const regInputs = { 
        'email': $("#email").val(), 
        'username': $("#username").val(),
        'password': $("#password").val(), 
        'confpass': $("#confirm-password").val()
    };

    $.post("/register", regInputs, function (response) {
        if (response != "OK") {
            alert(response);
        } else {
            window.location.replace("/track");
        }
    });
}
    
$('#register-form input[type="submit"]').on('click', validateRegistration);

</script>
{% endblock %}