{% extends "base.html" %}

{% block title %}Tracking{% endblock %}

{% block body %}
<h3>Track Something:</h3>
<form action="/track" method="POST" id="track-form">
    <label>
        Type: <select id="event-type">
                <option name="event-type" value="habit">Habit</option>
                <option name="event-type" value="influence">Influence</option>
                <option name="event-type" value="symptom">Symptom</option>
        </select>
    </label>
    <br>
    <div id="type-dependent"></div>
</form>
<br>
<h4>Pull events from GCal:</h4>
Click the button below to automatically track any events on your calendar with
the title of your habits in the name.
<form>
Time frame to check (default is past week):
<br>
<input type="date" name="start-date" id="start-date" required> to
<input type="date" name="end-date" id="end-date" required>
<br>
<input type="submit" id="gcal-habits-button" value="Get Events"></button>
</form>
<br>


<script>

let eventInput = $("#event-type")


// this will populate the dropdown menus based on user's tracked event types
function createDropdowns () {
    
    $.get("/user-event-types", function (response) {

        let data = $.parseJSON(response);

        // based on event type user chooses, fill in dropdowns
        // if user has nothing added for that type, link to add new page
        $("#type-dependent").html(function () {
            let type = eventInput.val();
            let capType = type.charAt(0).toUpperCase() + type.slice(1);
            let start = `<label>${capType}: <select name="type-id" id="type-id"
                         required>`;
            let options = "";
            let measurement = "";
            let end = `<input type="number" name="num" id="num" required></label>
                       <label>Date/Time (optional):
                       <input type="datetime-local" name="datetime" id="datetime">
                       </label><br><label>
                       <button class="location-button" id="location-button">Get My Location</button>
                       <input type="text" name="location" id="location"></label>
                       <br><input type="submit" id="submut-button">`;

            if (type == "habit") {
                if (data.habits == true) {
                    for (let habit of data.habits) {
                        options += `<option value=${habit.id}>${habit.label}</option>`;
                    };
                    measurement += `</select></label><br><label>Units: `;

                    return `${start} ${options} ${measurement} ${end}`;

                } else {
                    return `<a href="/new">Add some habits to track here!</a>`;
                }

            } else if (type == "influence") {
                if (data.influences == true) {
                    for (let influence of data.influences) {
                        options += `<option value=${influence.id}>${influence.label}
                                    </option>`;
                    };
                    measurement += `</select></label><br><label>Intensity: `;

                    return `${start} ${options} ${measurement} ${end}`;

                } else {
                    return `<a href="/new">Add some influences to track here!</a>`;
                }

            } else if (type == "symptom") {
                if (data.symptoms == true) {
                    for (let symptom of data.symptoms) {
                        options += `<option value=${symptom.id}>${symptom.label}
                                    </option>`;
                    };
                    measurement += `</select></label><br><label>Intensity: `;
                } else {
                    return `<a href="/new">Add some symptoms to track here!</a>`;
                }
            }
        });
    });
}

// populate dropdowns when page loads & when user chooses new event type
$(window).on("load", createDropdowns);
eventInput.on("change", createDropdowns);


// this will get the user's location from the browser
function getLocation(event) {
    event.preventDefault();
    navigator.geolocation.getCurrentPosition(function (position) {
            $("#location").val(`${position.coords.latitude},${position.coords.longitude}`);
        });
    alert("Location retrieved");
}

// get location when button is clicked
$("#location-button").on('click', getLocation);


// this will track event based on user inputs
function trackEvent(event) {
    event.preventDefault();

    const inputs = { 
        eventType: eventInput.val(), 
        typeId: $("#type-id").val(),
        num: $("#num").val(),
        datetime: $("#datetime").val(), 
        location: $("#location").val()
    };

    $.post("/track", inputs, function (response) {
        if (response.includes("tracked successfully")) {
            alert(response);
            $("#track-form")[0].reset();
            $("#event-details").html(`<label>Habit:
            <select name="type-id" id="type-id" required>
            {% for habit in habits %}
                <option value={{habit.id}}>{{ habit.label }}</option>
            {% endfor %}
            </select></label><br><label>
            Units: <input type="number" name="num" id="num" 
            required></label>`);
        }
    });

}

// track event when user submits form
$('#track-form input[type="submit"]').on('click', trackEvent);


// this will enable GCal and track events from selected time period
// (or trailing week by default)
function trackGcalHabits(event) {
    event.preventDefault();
    
    const inputs = { 
        startDate: $("#start-date").val(),
        endDate: $("#start-date").val()
    };

    $.post("/track-gcal-habits", inputs, function (response) {
        if (response == "") {
            alert("No new events to track.");
        } else {
            alert(`Events tracked:\n${response}`);
        }
    });
}

// track GCal events when user clicks button 
$("#gcal-habits-button").on('click', trackGcalHabits);

</script>
{% endblock %}





























