{% extends "base.html" %}

{% block title %}Tracking{% endblock %}

{% block body %}
<div class="container">
    <div class="row">
        <div class="col">
            <h4>Start Tracking Something New</h4>
            <form action="/new" method="POST" id="new-form">
                <label>
                    Type: <select id="event-type-new">
                            <option name="event-type-new" value="habit">Habit</option>
                            <option name="event-type-new" value="influence">Influence</option>
                            <option name="event-type-new" value="symptom">Symptom</option>
                    </select>
                </label>
                <br>
                <label>
                    Title: <input type="text" name="label" id="label" required>
                </label>
                <br>
                <div id="unit-or-scale">
                    <label>
                        Unit of measurement: <input type="text" name="unit" id="unit" required>
                    </label>
                </div>
                <input class="btn btn-primary" type="submit" id="new-form-submit">
            </form>
            <br>

            <!-- Button trigger modal -->
            <button type="button" class="btn btn-info" data-toggle="modal" data-target="#tracking-modal">
              What am I currently tracking?
            </button>

            <!-- Modal -->
            <div class="modal fade" id="tracking-modal" tabindex="-1" role="dialog" aria-labelledby="tracking-modal-label" aria-hidden="true">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="tracking-modal-label">Currently Tracking</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <h5><b>Habits:</b></h5>
                            <table id="habit-list" class="table .table-sm table-bordered"></table>
                        <br>
                        <h5><b>Influences:</b></h5>
                            <table id="influence-list" class="table .table-sm table-bordered"></table>
                        <br>
                        <h5><b>Symptoms:</b></h5>
                            <table id="symptom-list" class="table .table-sm table-bordered"></table>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-info" data-dismiss="modal">Close</button>
                    </div>
                  </div>
                </div>
              </div>
        </div>

        <div class="col">
            <h4>Track an Event</h4>
            <form method="POST" id="track-form">
                <label>
                    Type: <select id="event-type-track">
                            <option name="event-type-track" value="habit">Habit</option>
                            <option name="event-type-track" value="influence">Influence</option>
                            <option name="event-type-track" value="symptom">Symptom</option>
                    </select>
                </label>
                <br>
                <div id="type-dependent">
                    <label>
                        <span id="change-type1">Habit</span>:
                        <select name="habit-id" id="habit-id" class="type-id" required>
                                {% for habit in habits %}
                                    <option value={{habit.id}}>{{habit.label}}</option>
                                {% endfor %}
                        </select>
                        <select name="influence-id" id="influence-id" class="type-id" hidden>
                                {% for influence in influences %}
                                    <option value={{influence.id}}>{{influence.label}}</option>
                                {% endfor %}
                        </select>
                        <select name="symptom-id" id="symptom-id" class="type-id" hidden>
                                {% for symptom in symptoms %}
                                    <option value={{symptom.id}}>{{symptom.label}}</option>
                                {% endfor %}
                        </select>
                    </label>
                    <br>
                    <label>
                        <span id="change-num">Units</span>:
                        <input type="number" name="num" id="num" required>
                    </label>
                    <br>
                    <label>Date/Time (optional):
                        <input type="datetime-local" name="datetime" id="datetime">
                    </label>
                    <br>
                    <label>Location (optional): 
                        <input type="text" name="location" id="location">
                    </label>
                    <button class="location-button btn btn-outline-secondary" id="location-button">Get My Location</button>
                    <br>
                    <input type="submit" id="submit-button" class="btn btn-primary">
                </div>
            </form>
            <br>
            Add some <span id="change-type2">habits</span> to track using the form to the left!
            <br>
            <br>

            <!-- Button trigger modal -->
            <button type="button" class="btn btn-info" data-toggle="modal" data-target="#gcal-modal">
              Pull Events from GCal
            </button>

            <!-- Modal -->
            <div class="modal fade" id="gcal-modal" tabindex="-1" role="dialog" aria-labelledby="gcal-modal-label" aria-hidden="true">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="gcal-modal-label">Pull Events from GCal</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        Click the button below to automatically track any events on your calendar with
                        the title of your habits in the name. You will be prompted to log into GCal if
                        you haven't already.
                        <br>
                        <br>
                        <form>
                            Time frame to check (default is past week):
                            <br>
                            <input type="date" name="start-date" id="start-date" required> to
                            <input type="date" name="end-date" id="end-date" required>
                            <br>
                            

                    <div class="modal-footer">
                            <input type="submit" id="gcal-habits-button" class="btn btn-primary" value="Get Events">
                            <button type="button" class="btn btn-info" data-dismiss="modal">Close</button>
                        </form>
                    </div>
                  </div>
                </div>
              </div>
        </div>
    </div>
</div>

<!-- JS for add new section -->
<script src="../static/new.js"></script>

<!-- JS for track section -->
<script src="../static/track.js"></script>

{% endblock %}





























